		* { margin: 0px; padding: 0px; }

	@font-face {
		font-family: 'DIN Condensed Bold';
		src: ("../DIN_Condensed_Bold.ttf");
	}

	@font-face {
		font-family: 'Space Mono';
		src: url('../fonts/SpaceMono-Regular.ttf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Chalet-NewYorkNineteenEighty';
		src: ("../Chalet-NewYorkNineteenEighty.otf");
	}

		#container {
			width: 600vw; /* vw means viewport width */
			height: 100vh; /* vh means viewport height 100vh = 1 window height */
			overflow-y: hidden;
			overflow-x: scroll;
		}

		.column {
			width: 50vw;
			height: 200vh;
			float: left;
			overflow-y: scroll;

		}

		.inner-1 {
			height: 610vh;
			background: white;
		}

		.inner-2 {
			height: 630vh;
			background: white;
		}

		.inner-3 {
			height: 600vh;
			background: white;
		}	

		.inner-4 {
				height: 570vh;
			background: white;
	
		}

		.inner-5 {
				height: 610vh;
			background: white;
		}
		.inner-6 {
				height: 580vh;
			background: white;
		}
				

		.inner-7 {
			height: 630vh;
			background: white;
	
		}
.inner-8 {
				height: 540vh;
			background: white;
		}

.inner-9 {
				height: 490vh;
			background: white;
	
		}
					.inner-10 {
				height: 750vh;
			background: white;
		}
					.inner-11 {
				height: 575vh;
			background: white;
	
		}

					.inner-12 {
				height: 300vh;
			background: white;
			
		}

		#column-12 {
			height: 100vh;
		}

		#column-12 .cover {
			height: 100vh;
			background: url('../images/arina1.jpg');
			background-size: cover;
		}	

		.cover1 {		
			height: 100vh;
			background: white;
			outline-color: black;
			outline-width: 20px;
			outline-style: solid;
			width: 90vh;
		
		}

		.cover {
			height: 100vh;
			overflow: auto;
		}

#arina {
	position: absolute;


}

		#text {
			font-family: Avenir;
			font-weight: bold;
			margin-left: 100px;
			/*margin-top: 100px;*/
			font-size: 24px;

		}



#image {
			margin-top: calc(50vh - 180px);
			margin-left: calc(25vw - 120px);
			box-shadow: 20px 20px 20px #888888;
			width: 240px;
			height: 360px;
		
		}

#image1 {
	margin-top: calc(50vh - 180px);
			margin-left: calc(25vw - 110px);
			box-shadow: 20px 20px 20px #888888;
			width: 220px;
			height: 360px;
	
}


#image2 {
	margin-left: 400px;

}
#text1 {
	font-family: Avenir;
	font-size: 10pt;
	width: 450px;
	height: 500px;
	margin-left: 100px;
	
}
#ion1{
	margin-top: 200px;


}



#ion3 {

}

#ion4 {

}

#thief1{
	margin-top: 200px;



}

#thief3 {
	text-align: center;
}

#thiefback {
	background:grey;
	width: 630px;
	height: auto;
	position: relative;
}

#time1 {
	margin-top: -160px;
}

#kyoko1 {
	margin-top: -160px;
}

#full1 {
	margin-top: 200px;
	margin-left: 80px;
}




#idol1 {
	margin-top: -200px;
}

#neko1 {
	margin-top: -100px;
}

#mistress1 {
	margin-top: -200px;
}

#boys1 {
	margin-top: -200px;
}

#princess2 {
	margin-top: 300px;

}

#princess3 {
	margin-left: 300px;
	margin-top: -460px;
}

#cross1 {
	margin-top: 100px;

}


h1 {
	Font-family: Avenir;
	position: relative;


}
h2 {
	font-family: Avenir;
	position: relative;
	
}
